<div class="iteam-club-tennis" style="margin: 10px 0 0 300px;">
    <img src="assets/images/Logo_iTeamUniversity.png" alt="" height="40px">
    <h4 style="font-size: 18px;">TENNIS CLUB</h4>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-blue">

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav">
            <li class=" active">
                <a class="nav-link" routerLink="/home" style=" color: #cecece; font-size: 1.2rem;">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/reservation">Reservation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/auth">Validation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signup">Sign up <i class="fa-solid fa-user"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user">Sign in <i class="fa-solid fa-right-to-bracket"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
            </li>
        </ul>
    </div>
</nav>