<section>
    <h1>Avantages de la Location-horaire</h1>
    <div class="page1">
        <div class="home">
            <h3><img src="assets/images/ballon.png" alt="" height="25px"> Un service de réservation simple, rapide et
                securisé</h3>
            <ul>
                <li>découvrez le courts de tennis, padel et beach tennis disponibles à tout heures, tous les jours <br>
                    partout
                    en
                    france</li>
                <li>Résevez en ligne en quelques clics depuis votre ordinateur, tablette ou mobile</li>
                <li>Jouez sur des installations de qualité dans un réseau de clubs affiliés FTT</li>
            </ul>
            <img src="assets/images/courts_tennis.gif" alt="" width="400px" height="236px" style="margin-left:80px;">
        </div>
        <div class="reserve">
            <h4>Découvrez la location-horaire</h4>
            <img src="assets/images/tenup_lh_0.png" alt="" width="360px">
        </div>

    </div>
</section>